@using DomainLayer.TheMilesTours.Entities
@model Tour
<div class="card-body row">

	<div class="col-lg-12 p-t-20">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="Title" type="text">
			<label class="mdl-textfield__label">Title</label>
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<textarea class="mdl-textfield__input" asp-for="OverView" type="text"></textarea>
			<label class="mdl-textfield__label">OverView</label>
			<span asp-validation-for="OverView" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="PricePerPerson" type="number">
			<label class="mdl-textfield__label">Price Per Person</label>
			<span asp-validation-for="PricePerPerson" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="Location" type="text">
			<label class="mdl-textfield__label">Location</label>
			<span asp-validation-for="Location" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="ActivityType" type="text">
			<label class="mdl-textfield__label">Activity Type</label>
			<span asp-validation-for="ActivityType" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="StayDuration" type="text">
			<label class="mdl-textfield__label">Stay Duration</label>
			<span asp-validation-for="StayDuration" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="TourEquipement" type="text">
			<label class="mdl-textfield__label">Tour Equipement</label>
			<span asp-validation-for="TourEquipement" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="TourAttraction" type="text">
			<label class="mdl-textfield__label">Tour Attraction</label>
			<span asp-validation-for="TourAttraction" class="text-danger"></span>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
			<input class="mdl-textfield__input" asp-for="GoogleMapUrl" type="text">
			<label class="mdl-textfield__label">Google Map URL</label>
			<span asp-validation-for="GoogleMapUrl" class="text-danger"></span>
		</div>
		<div>
			<label>Upload Cover Image</label>
			<input class="mdl-textfield__input" asp-for="CoverImageFile" type="file" accept=".png, .jpg, .jpeg" required>
			<span asp-validation-for="CoverImageFile" class="text-danger"></span>
		</div>
		<div>
			<label>Upload Car Gallery Images</label>
			<input class="mdl-textfield__input" asp-for="GalleryFiles" type="file" multiple accept=".png, .jpg, .jpeg">
			<span asp-validation-for="GalleryFiles" class="text-danger"></span>
		</div>
	</div>

	<div class="col-lg-12 p-t-20 text-center">
		<button type="submit"
				class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-circle btn-primary">
			Next
		</button>
		<button type="button" onclick="window.history.back()"
				class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-circle btn-danger">
			Cancel
		</button>
	</div>
</div>