@using ApplicationLayer.TheMilesTours.IService
@inject IDestinationService _destinationService
@{
    var destinatios = await _destinationService.GetAll();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="bracket-web">
    <meta name="description" content="">
    <title>@ViewData["Title"] - TheMilesTours</title>

    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/site/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/site/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/site/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/site/assets/images/favicons/site.webmanifest">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&amp;family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&amp;display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/assets/site/assets/vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/animate/animate.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/jarallax/jarallax.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/nouislider/nouislider.pips.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/gotur-icons/style.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/daterangepicker-master/daterangepicker.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/owl-carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/site/assets/vendors/slick-carousel/slick.css">

    <!-- template styles -->
    <link rel="stylesheet" href="/assets/site/assets/css/gotur.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="custom-cursor">
    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="page-wrapper">
        <!-- Header Top -->
        <div class="top-one">
            <div class="top-one__inner">
                <ul class="list-unstyled top-one__info">
                    <li class="top-one__info__item">
                        <i class="icon-email"></i>
                        <a href="mailto:info@themilestours.com">info@themilestours.com</a>
                    </li><!-- /.top-one__info__item -->
                    <li class="top-one__info__item">
                        <i class="icon-maps-and-flags"></i>
                        <a href="https://maps.app.goo.gl/awZnRZvxV1vhZn6q7?g_st=awb">Office # 4, Garden, Hussain plaza, Soan, near Bank al habib, Soan Gardens Block D Marzkaz, 45200</a>
                    </li><!-- /.top-one__info__item -->
                </ul><!-- /.list-unstyled top-one__info -->
                <div class="top-one__right">
                    @*  <div class="top-one__language-sort">
                        <select class="selectpicker" aria-label="English">
                            <option selected>English</option>
                            <option value="1">Hindi</option>
                            <option value="2">Malayalam</option>
                            <option value="3">Japanese</option>
                            <option value="4">Belarusian</option>
                        </select>
                    </div> *@
                    <div class="top-one__social">
                        <a href="https://www.facebook.com/MilesTourAndCarRental/"> <i class="icon-facebook" aria-hidden="true"></i> <span class="sr-only">Facebook</span></a>
                        <a href="https://www.instagram.com/themilestour/"> <i class="fab fa-instagram" aria-hidden="true"></i> <span class="sr-only">Instagram</span></a>
                        <a href="https://www.tiktok.com/@@themilestour"> <i class="bi bi-tiktok" aria-hidden="true"></i> <span class="sr-only">Tiktok</span></a>
                        @* <a href="https://youtube.com/"> <i class="icon-youtube" aria-hidden="true"></i> <span class="sr-only">Youtube</span></a> *@
                    </div><!-- /.topbar__social -->
                </div><!-- /.top-one__right -->
            </div><!-- /.container-fluid-->
        </div><!-- /.top-one -->
        <!-- Main Header -->
        <header class="main-header main-header--two sticky-header sticky-header--normal">
            <div class="container-fluid">
                <div class="main-header__inner">
                    <div class="main-header__logo logo-retina">
                        <a href="index.html">
                            <img src="/assets/site/siteImage/theMileTourLogo.png" alt="gotur HTML" width="158" height="auto">
                        </a>
                    </div><!-- /.main-header__logo -->
                    <nav class="main-header__nav main-menu">
                        <ul class="main-menu__list">





                            <li>
                                <a href="/index">Home</a>
                            </li>
                            <li>
                                <a href="/tour/list">Tours</a>
                            </li>
                            <li>
                                <a href="/destination/list">Destinations</a>
                            </li>
                            <li>
                                <a href="/booking">Booking</a>
                            </li>
                            <li>
                                <a href="/contactUs">Contact Us</a>
                            </li>


                        </ul>
                    </nav><!-- /.main-header__nav -->
                    <div class="main-header__right">
                        @*   <div class="main-header__info">
                            <a href="#" class="search-toggler main-header__info__item"> <i class="icon-search-interface-symbol" aria-hidden="true"></i> <span class="sr-only">Search</span> </a>
                            <a href="cart.html" class="main-header__info__item"> <i class="icon-shopping-carts" aria-hidden="true"></i> <span class="sr-only">Cart</span> </a>
                        </div> *@
                        <a href="/contactus" class="gotur-btn main-header__btn">get in touch <i class="icon-paper-plane"></i></a>
                        <div class="main-header__call">
                            <div class="main-header__call__icon">
                                <i class="icon-telephone"></i>
                            </div><!-- /.main-header__call__icon -->
                            <div class="main-header__call__content">
                                <span class="main-header__call__subtitle">Call Us Now</span><!-- /.main-header__call__subtitle -->
                                <a href="tel:+923144107134">+92 314 4107134</a>
                            </div><!-- /.main-header__call__content -->
                        </div>
                        <div class="mobile-nav__btn mobile-nav__toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- /.main-header__sidebar-btn -->
                    </div><!-- /.main-header__right -->
                </div><!-- /.main-header__inner -->
            </div><!-- /.container-fluid -->
        </header><!-- /.main-header -->

        @RenderBody()
        <footer class="main-footer">
            <div class="main-footer__top">
                <div class="container">
                    <div class="main-footer__top__inner wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="footer-widget__logo logo-retina">
                            <a href="index.html"><img src="/assets/site/siteImage/theMileTourLogo.png" width="158" height="auto" alt="gotur logo"></a>
                        </div><!-- /.footer-widget__logo -->
                        <ul class="list-unstyled footer-widget__list">
                            <li>
                                <div class="footer-widget__list__icon"><i class="icon-email"></i></div><!-- /.footer-widget__list__icon -->
                                <div class="footer-widget__list__content">
                                    <span class="footer-widget__list__subtitle">send email</span>
                                    <a href="mailto:info@themilestours.com">info@themilestours.com</a>
                                </div><!-- /.footer-widget__list__content -->
                            </li>
                            <li>
                                <div class="footer-widget__list__icon"><i class="icon-telephone"></i></div><!-- /.footer-widget__list__icon -->
                                <div class="footer-widget__list__content">
                                    <span class="footer-widget__list__subtitle">call agent</span>
                                    <a href="tel:+92 314 4107134">+92 314 4107134</a>
                                </div><!-- /.footer-widget__list__content -->
                            </li>
                            <li>
                                <div class="footer-widget__list__icon"><i class="icon-clock-1"></i></div><!-- /.footer-widget__list__icon -->
                                <div class="footer-widget__list__content">
                                    <span class="footer-widget__list__subtitle">opening time</span>
                                    <p>Hours: Mon-Fri: 8am – 7pm</p>
                                </div><!-- /.footer-widget__list__content -->
                            </li>
                        </ul><!-- /.list-unstyled -->
                    </div><!-- /.main-footer__top__inner -->
                </div><!-- /.container -->
            </div><!-- /.main-footer__top -->
            <div class="main-footer__middle">
                <div class="container">
                    <div class="row gutter-y-40">
                        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                            <div class="footer-widget footer-widget--about">
                                <h2 class="footer-widget__title">about Gotur</h2><!-- /.footer-widget__title -->
                                <p class="footer-widget__about-text">
                                    The Miles Tour | Unleash the Explorer in You!
                                    🏕️ Trekking | Hiking | Off-Road Adventures
                                    ⛰️ Tailor-Made Expeditions & Family Getaways
                                    🌟 Discover Hidden Gems of Pakistan
                                    📩 DM for Bookings – Let’s Make Memories!
                                </p><!-- /.footer-widget__about-text -->
                                <div class="footer-widget__social">
                                    <a href="https://www.facebook.com/MilesTourAndCarRental/"> <i class="icon-facebook" aria-hidden="true"></i> <span class="sr-only">Facebook</span></a>
                                    <a href="https://www.instagram.com/themilestour/"> <i class="fab fa-instagram" aria-hidden="true"></i> <span class="sr-only">Instagram</span></a>
                                    <a href="https://www.tiktok.com/@@themilestour"> <i class="bi bi-tiktok" aria-hidden="true"></i> <span class="sr-only">Tiktok</span></a>
                                </div><!-- /.footer-widget__social -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->

                        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                            <div class="footer-widget footer-widget--links">
                                <h2 class="footer-widget__title">Destinations</h2><!-- /.footer-widget__title -->
                                <ul class="list-unstyled footer-widget__links">
                                    @foreach(var item in destinatios.Take(5))
                                    {
                                        <li><a href="/destination/detail?id=@item.Id">@item.Title</a></li>

                                    }
                                 
                                </ul><!-- /.list-unstyled footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->

                        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                            <div class="footer-widget footer-widget--post">
                                <h2 class="footer-widget__title">useful links</h2><!-- /.footer-widget__title -->
                                <ul class="list-unstyled footer-widget__links">
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/tours/list">Tours</a></li>
                                    <li><a href="/destination/list">Destinations</a></li>
                                    <li><a href="/booking">Bookking</a></li>
                                    <li><a href="/contactUs">Contacts</a></li>
                                </ul><!-- /.list-unstyled footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-6 -->

                        <div class="col-md-6 col-lg-5 col-xl-3 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="600ms">
                            <div class="footer-widget footer-widget--contact">
                                <h2 class="footer-widget__title">Newsletter</h2><!-- /.footer-widget__title -->
                                <p class="footer-widget__contact-text">Sign up to searing weekly newsletter to get the latest updates.</p><!-- /.footer-widget__about-text -->
                                <form action="#" data-url="MAILCHIMP_FORM_URL" class="footer-widget__newsletter mc-form">
                                    <div class="form-group__form">
                                        <input type="email" name="EMAIL" placeholder="Your email address">
                                        <button type="submit" class="gotur-btn"><span class="icon-right-arrow"></span></button>
                                    </div><!-- /.form-group -->
                                    <div class="form-group__check">
                                        <input type="checkbox" name="checkbox" id="check">
                                        <label for="check">I agree to the <a href="faq.html">Privacy Policy.</a></label>
                                    </div><!-- /.form-group -->
                                </form><!-- /.footer-widget__newsletter mc-form -->
                                <div class="mc-form__response"></div><!-- /.mc-form__response -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-5 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                <div class="main-footer__element-one">
                    <img src="/assets/site/assets/images/shapes/footer-shape-1-1.png" alt>
                </div><!-- /.main-footer__element-one -->
                <div class="main-footer__element-two">
                    <img src="/assets/site/assets/images/shapes/footer-shape-1-2.png" alt>
                </div><!-- /.main-footer__element-one -->
            </div><!-- /.main-footer__middle -->
            <div class="main-footer__bottom">
                <div class="container">
                    <div class="main-footer__bottom__inner">
                        <p class="main-footer__copyright">
                            &copy; Copyright <span class="dynamic-year"></span> by The Miles Tours
                        </p>
                        <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
                            <span class="scroll-to-top__wrapper">
                                <i class="fas fa-arrow-up"></i>
                            </span>
                        </a>
                        <div class="main-footer__bottom__pyment">
                            <p style="margin: 0; font-size: 14px; color: #ffffff;">
                                Made with ❤️ by <a href="https://bitxagency.com" target="_blank" style="color: #ffffff; text-decoration: underline;">BitXAgency</a>
                            </p>
                        </div>

                    </div><!-- /.main-footer__inner -->
                </div><!-- /.container -->
            </div><!-- /.main-footer__bottom -->
        </footer><!-- /.main-footer -->
    </div>
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div><!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>
            <div class="logo-box logo-retina">
                <a href="index.html" aria-label="logo image"><img src="/assets/site/siteImage/theMileTourLogo.png" width="158" height="auto" alt="logo"></a>
            </div><!-- /.logo-box -->
            <div class="mobile-nav__container"></div><!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <span class="mobile-nav__contact__icon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <a href="mailto:info@themilestours.com">info@themilestours.com</a>
                </li>
                <li>
                    <span class="mobile-nav__contact__icon">
                        <i class="fa fa-phone-alt"></i>
                    </span>
                    <a href="tel:+923144107134">+923144107134</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__social">
                <a href="https://www.facebook.com/MilesTourAndCarRental/"> <i class="icon-facebook" aria-hidden="true"></i> <span class="sr-only">Facebook</span></a>
                <a href="https://www.instagram.com/themilestour/"> <i class="fab fa-instagram" aria-hidden="true"></i> <span class="sr-only">Instagram</span></a>
                <a href="https://www.tiktok.com/@@themilestour"> <i class="bi bi-tiktok" aria-hidden="true"></i> <span class="sr-only">Tiktok</span></a>
            </div><!-- /.mobile-nav__social -->
        </div><!-- /.mobile-nav__content -->
    </div><!-- /.mobile-nav__wrapper -->
    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div><!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form role="search" method="get" class="search-popup__form" action="#">
                <input type="text" id="search" placeholder="Search Here...">
                <button type="submit" aria-label="search submit" class="gotur-btn"> <i class="icon-search"></i> </button>
            </form>
        </div><!-- /.search-popup__content -->
    </div><!-- /.search-popup -->
    <div class="header-right-sidebar">
        <div class="header-right-sidebar__overlay header-right-sidebar__toggler"></div>
        <div class="header-right-sidebar__content">
            <span class="header-right-sidebar__close header-right-sidebar__toggler"><i class="fa fa-times"></i></span>
            <div class="header-right-sidebar__logo-box">
                <a href="index.html" aria-label="logo image"> <img src="/assets/site/assets/images/logo-landing.png" width="158" alt="gotur"> </a>
            </div>
            <div class="header-right-sidebar__container">
                <div class="header-right-sidebar__container__about wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                    <h3 class="header-right-sidebar__container__title">We’re Number One Travel Adventure Company</h3>
                    <p class="header-right-sidebar__container__text">It is a long established fact that a reader will be distracted the readable content of a page when looking at layout the point of using lorem the is Ipsum less normal distribution of letters.</p>
                </div>
                <div class="header-right-sidebar__container__contact">
                    <h3 class="header-right-sidebar__container__title">Contact Us</h3>
                    <ul class="header-right-sidebar__container__list list-unstyled">
                        <li class="header-right-sidebar__container__list__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                            <div class="header-right-sidebar__container__icon">
                                <i class="icon-email"></i>
                            </div>
                            <div class="header-right-sidebar__container__list__content">
                                <span class="header-right-sidebar__container__list__title">send email</span>
                                <a href="#">info@company.com</a>
                            </div>
                        </li>
                        <li class="header-right-sidebar__container__list__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                            <div class="header-right-sidebar__container__icon">
                                <i class="icon-telephone"></i>
                            </div>
                            <div class="header-right-sidebar__container__list__content">
                                <span class="header-right-sidebar__container__list__title">call agent</span>
                                <a href="tel:+91-123-654-900">+91 123 654 900</a>
                            </div>
                        </li>
                        <li class="header-right-sidebar__container__list__item wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='700ms'>
                            <div class="header-right-sidebar__container__icon">
                                <i class="icon-clock"></i>
                            </div>
                            <div class="header-right-sidebar__container__list__content">
                                <span class="header-right-sidebar__container__list__title">opening time</span>
                                <p>Hours: Mon-Fri: 8am – 7pm</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header-right-sidebar__container__newsletter-box wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='900ms'>
                    <h3 class="header-right-sidebar__container__title">get notification</h3>
                    <form action="#" data-url="MAILCHIMP_FORM_URL" class="newsletter-box mc-form">
                        <input type="email" name="EMAIL" placeholder="Email">
                        <button type="submit" class="gotur-btn gotur-btn--base">subscribe now</button>
                    </form>
                    <div class="mc-form__response"></div>
                </div>
            </div>
        </div><!-- /.header-right-sidebar__content -->
    </div>


    <div id="scroll-top" class="scroll-top">
        <span id="scroll-top-value" class="scroll-top-value"></span>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script src="/assets/site/assets/vendors/jquery/jquery-3.7.1.min.js"></script>
    <script src="/assets/site/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/site/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/site/assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="/assets/site/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="/assets/site/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="/assets/site/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="/assets/site/assets/vendors/jquery-circle-progress/jquery.circle-progress.min.js"></script>
    <script src="/assets/site/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/assets/site/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="/assets/site/assets/vendors/nouislider/nouislider.min.js"></script>
    <script src="/assets/site/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="/assets/site/assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="/assets/site/assets/vendors/slick-carousel/slick.min.js"></script>
    <script src="/assets/site/assets/vendors/wow/wow.js"></script>
    <script src="/assets/site/assets/vendors/imagesloaded/imagesloaded.min.js"></script>
    <script src="/assets/site/assets/vendors/isotope/isotope.js"></script>
    @* <script src="/assets/site/assets/vendors/countdown/countdown.min.js"></script> *@
	<script src="~/assets/site/assets/js/countdown.min.js"></script>
    <script src="/assets/site/assets/vendors/daterangepicker-master/moment.min.js"></script>
    <script src="/assets/site/assets/vendors/daterangepicker-master/daterangepicker.js"></script>
    <script src="/assets/site/assets/vendors/jquery-circleType/jquery.circleType.js"></script>
    <script src="/assets/site/assets/vendors/jquery-lettering/jquery.lettering.min.js"></script>

    <!-- GSAP -->
    <script src="/assets/site/assets/vendors/gsap/gsap.js"></script>
    <script src="/assets/site/assets/vendors/gsap/scrollTrigger.min.js"></script>
    <script src="/assets/site/assets/vendors/gsap/splittext.min.js"></script>
    <script src="/assets/site/assets/vendors/gsap/gotur-gsap.js"></script>

    <!-- template js -->
    <script src="/assets/site/assets/js/gotur.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
