@page
@model TheMilesTours.Pages.ContactUsModel
@{
}
  <section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/site/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div><!-- /.page-header__bg -->
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title bw-split-in-right">Contact us</h2>
                    <ul class="gotur-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>Contact us</span></li>
                    </ul><!-- /.thm-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

<section class="contact-top section-space">
    <div class="container">
        <div class="row gutter-y-30">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='300ms'>
                <div class="contact-top__item">
                    <div class="contact-top__item__icon">
                        <i class="icon-pin"></i>
                    </div><!-- /.contact-top__item__icon -->
                    <h4 class="contact-top__item__title">Our Address</h4><!-- /.contact-top__item__title -->
                    <p class="contact-top__item__text">Office # 4, Garden, Hussain plaza, Soan, near Bank al habib, Soan Gardens Block D Marzkaz, 45200</p><!-- /.contact-top__item__text -->
                </div><!-- /.contact-top__item -->
            </div><!-- /.col-lg-4 col-md-6 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='500ms'>
                <div class="contact-top__item">
                    <div class="contact-top__item__icon">
                        <i class="icon-mail-3"></i>
                    </div><!-- /.contact-top__item__icon -->
                    <h4 class="contact-top__item__title"><a href="mailto:info@themilestoures.com">info@themilestoures.com</a></h4><!-- /.contact-top__item__title -->
                    <p class="contact-top__item__text">Email us anytime for any kind of query.</p><!-- /.contact-top__item__text -->
                </div><!-- /.contact-top__item -->
            </div><!-- /.col-lg-4 col-md-6 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='700ms'>
                <div class="contact-top__item">
                    <div class="contact-top__item__icon">
                        <i class="icon-call-3"></i>
                    </div><!-- /.contact-top__item__icon -->
                    <h4 class="contact-top__item__title">Hot:<a href="tel:+923144107134">+92 314 4107134</a></h4><!-- /.contact-top__item__title -->
                    <p class="contact-top__item__text">Call us.</p><!-- /.contact-top__item__text -->
                </div><!-- /.contact-top__item -->
            </div><!-- /.col-lg-4 col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-top -->

<section class="contact-page section-space-bottom">
    <div class="container">
        <div class="row gutter-y-30">
            <div class="col-lg-6 wow fadeInLeft" data-wow-duration='1500ms' data-wow-delay='300ms'>
                <div class="contact-page__map">
                    <div class="google-map google-map__@@extraClassName">
                        <iframe title="template google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3324.595238810416!2d73.1506885!3d33.5638913!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfedb50050d8ab%3A0x9ec674405377d7c8!2sThe%20Miles%20Tour!5e0!3m2!1sen!2s!4v1744184162641!5m2!1sen!2s" class="map__@@extraClassName" allowfullscreen></iframe>
                       
                    </div>
                    <!-- /.google-map -->
                </div><!-- /.contact-page__map -->
            </div><!-- /.col-lg-5 -->
            <div class="col-lg-6 wow fadeInRight" data-wow-duration='1500ms' data-wow-delay='300ms'>
                <div class="contact-page__contact">
                    <h2 class="contact-page__title">Ready to Get Started?</h2><!-- /.contact-page__title -->
                    <p class="contact-page__text">Nullam varius, erat quis iaculis dictum, eros urna varius eros, ut blandit felis odio in turpis. Quisque rhoncus</p><!-- /.contact-page__text -->
                    <form class="comments-form__form contact-form-validated form-one">
                        <div class="form-one__group">
                            <div class="form-one__control">
                                <label for="name">Your Name*</label>
                                <input type="text" name="name" id="name" placeholder="Your Name">
                            </div>
                            <div class="form-one__control">
                                <label for="email">Your Email*</label>
                                <input type="email" name="email" id="email" placeholder="Your Email">
                            </div>
                            <div class="form-one__control form-one__control--full">
                                <label for="message">Message*</label>
                                <textarea name="message" id="message" placeholder="Write Message . . "></textarea>
                            </div>
                            <div class="form-one__control form-one__control--full">
                                <button type="submit" class="gotur-btn gotur-btn--base">Send Message<i class="icon-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.contact-page__contact -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-page -->
